# AutoEncoder

## Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

## Importing the dataset

In [3]:
movies = pd.read_csv('ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [5]:
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [7]:
users = pd.read_csv('ml-1m/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [9]:
users.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [11]:
ratings = pd.read_csv('ml-1m/ratings.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [12]:
ratings.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

## Preparing the training set and test set

In [14]:
training_set = pd.read_csv('ml-100k/u1.base', delimiter = '\t')
training_set = np.array(training_set, dtype = 'int')

In [15]:
training_set

array([[        1,         2,         3, 876893171],
       [        1,         3,         4, 878542960],
       [        1,         4,         3, 876893119],
       ...,
       [      943,      1188,         3, 888640250],
       [      943,      1228,         3, 888640275],
       [      943,      1330,         3, 888692465]])

In [16]:
test_set = pd.read_csv('ml-100k/u1.test', delimiter = '\t')
test_set = np.array(test_set, dtype = 'int')

In [22]:
test_set

array([[        1,        10,         3, 875693118],
       [        1,        12,         5, 878542960],
       [        1,        14,         5, 874965706],
       ...,
       [      459,       934,         3, 879563639],
       [      460,        10,         3, 882912371],
       [      462,       682,         5, 886365231]])

## Getting the number of users and movies

In [25]:
num_users = len(np.unique(np.concatenate((training_set[:, 0], test_set[:, 0]), axis = 0)))
num_movies = len(np.unique(np.concatenate((training_set[:, 1], test_set[:, 1]), axis = 0)))

In [27]:
num_users, num_movies

(943, 1682)

## Converting the data into an array with users in rows and movies in columns

In [29]:
def convert(data):
    new_data = []
    for id_users in range(1, num_users+1):
        id_movies = data[:, 1][data[:, 0] == id_users]
        id_ratings = data[:, 2][data[:, 0] == id_users]
        ratings = np.zeros(num_movies)
        ratings[id_movies - 1] = id_ratings
        new_data.append(list(ratings))
    return new_data

In [31]:
training_set = convert(training_set)
test_set = convert(test_set)

## Converting the data into Torch tensors

In [33]:
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

## Creating the architecture of the AutoEncoder NN

In [35]:
class SAE(nn.Module):
    def __init__(self, ):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(num_movies, 20)
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, num_movies)
        self.activation = nn.Sigmoid()
    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x

sae = SAE()
criterion = nn.MSELoss()
optimiser = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

## Training the SAE

In [41]:
num_epoch = 200
for epoch in range(1, num_epoch+1):
    train_loss = 0
    s = 0.
    for id_user in range(num_users):
        input = Variable(training_set[id_user]).unsqueeze(0)
        target = input.clone()
        if torch.sum(target.data > 0) > 0:
            output = sae(input)
            target.require_grad = False
            output[target == 0] = 0
            loss = criterion(output, target)
            mean_corrector = num_movies/float(torch.sum(target.data > 0) + 1e-10)
            loss.backward()
            train_loss += np.sqrt(loss.item()*mean_corrector)
            s += 1.
            optimiser.step()
    print(f'epoch : {epoch}  train_loss : {train_loss/s}')

epoch : 1  train_loss : 1.7593828671666991
epoch : 2  train_loss : 1.0964754504741405
epoch : 3  train_loss : 1.053321187933271
epoch : 4  train_loss : 1.0383069534206706
epoch : 5  train_loss : 1.0309720287670403
epoch : 6  train_loss : 1.0264438682527712
epoch : 7  train_loss : 1.023741447343222
epoch : 8  train_loss : 1.0221681979511397
epoch : 9  train_loss : 1.0204873573413666
epoch : 10  train_loss : 1.0195788959338699
epoch : 11  train_loss : 1.0187924639513155
epoch : 12  train_loss : 1.0182754884355214
epoch : 13  train_loss : 1.0178183236578386
epoch : 14  train_loss : 1.0177251280094095
epoch : 15  train_loss : 1.0171427900228798
epoch : 16  train_loss : 1.0166937614785676
epoch : 17  train_loss : 1.0166816171591397
epoch : 18  train_loss : 1.016477817393539
epoch : 19  train_loss : 1.016143568677288
epoch : 20  train_loss : 1.0162166526765168
epoch : 21  train_loss : 1.015962672929332
epoch : 22  train_loss : 1.0158967194070985
epoch : 23  train_loss : 1.0159081308846782
epoch : 24  train_loss : 1.0156597653178046
epoch : 25  train_loss : 1.0156972152092578
epoch : 26  train_loss : 1.0157047290137036
epoch : 27  train_loss : 1.0152988274920542
epoch : 28  train_loss : 1.0151562287340805
epoch : 29  train_loss : 1.0126957469785531
epoch : 30  train_loss : 1.011028806759749
epoch : 31  train_loss : 1.0097441161678713
epoch : 32  train_loss : 1.0078478250913006
epoch : 33  train_loss : 1.007865821299463
epoch : 34  train_loss : 1.0036128896961065
epoch : 35  train_loss : 1.001504732573501
epoch : 36  train_loss : 0.9992171435814695
epoch : 37  train_loss : 0.997680469336874
epoch : 38  train_loss : 0.997292040035723
epoch : 39  train_loss : 0.9963448667895278
epoch : 40  train_loss : 0.9932837163729632
epoch : 41  train_loss : 0.9948375485506723
epoch : 42  train_loss : 0.9910954346421937
epoch : 43  train_loss : 0.9903815667954501
epoch : 44  train_loss : 0.9864023844314533
epoch : 45  train_loss : 0.9865912772073708
epoch : 46  train_loss : 0.9842918236382199
epoch : 47  train_loss : 0.9805231401068925
epoch : 48  train_loss : 0.9804274364110309
epoch : 49  train_loss : 0.9815231388025817
epoch : 50  train_loss : 0.9793537589664244
epoch : 51  train_loss : 0.984344893766811
epoch : 52  train_loss : 0.9820749392095787
epoch : 53  train_loss : 0.9764005394060749
epoch : 54  train_loss : 0.9754307911322108
epoch : 55  train_loss : 0.9732554457270608
epoch : 56  train_loss : 0.9700091497240556
epoch : 57  train_loss : 0.9698259478932243
epoch : 58  train_loss : 0.9636742067714557
epoch : 59  train_loss : 0.9626731665432721
epoch : 60  train_loss : 0.9615750859983846
epoch : 61  train_loss : 0.9595106157181802
epoch : 62  train_loss : 0.9556024150350937
epoch : 63  train_loss : 0.9573114721424608
epoch : 64  train_loss : 0.9555559253256267
epoch : 65  train_loss : 0.955108679617066
epoch : 66  train_loss : 0.9573710603136535
epoch : 67  train_loss : 0.9569246250255711
epoch : 68  train_loss : 0.9524089118861597
epoch : 69  train_loss : 0.9527248456020084
epoch : 70  train_loss : 0.9508999741890668
epoch : 71  train_loss : 0.9493276390717474
epoch : 72  train_loss : 0.9482618595222407
epoch : 73  train_loss : 0.9480967358509651
epoch : 74  train_loss : 0.9454598488169544
epoch : 75  train_loss : 0.946781513457203
epoch : 76  train_loss : 0.9441350605835951
epoch : 77  train_loss : 0.9442838605172718
epoch : 78  train_loss : 0.9424720407636372
epoch : 79  train_loss : 0.9426076358189235
epoch : 80  train_loss : 0.9409752519070105
epoch : 81  train_loss : 0.9425811025550899
epoch : 82  train_loss : 0.9398255855804676
epoch : 83  train_loss : 0.9409181508095487
epoch : 84  train_loss : 0.9390103683317017
epoch : 85  train_loss : 0.9394937135049464
epoch : 86  train_loss : 0.9378357563766654
epoch : 87  train_loss : 0.9378609606136169
epoch : 88  train_loss : 0.937388105609266
epoch : 89  train_loss : 0.9418292718847628
epoch : 90  train_loss : 0.940235074379405
epoch : 91  train_loss : 0.9401753403049552
epoch : 92  train_loss : 0.9387439060361535
epoch : 93  train_loss : 0.938442667806635
epoch : 94  train_loss : 0.9367775337129606
epoch : 95  train_loss : 0.9376810216669018
epoch : 96  train_loss : 0.9362847722853901
epoch : 97  train_loss : 0.9368387205493078
epoch : 98  train_loss : 0.9349189315901401
epoch : 99  train_loss : 0.9351685631239217
epoch : 100  train_loss : 0.933872328859523
epoch : 101  train_loss : 0.934752126746279
epoch : 102  train_loss : 0.9330833747958043
epoch : 103  train_loss : 0.9334568348811568
epoch : 104  train_loss : 0.932451639920699
epoch : 105  train_loss : 0.9328238424435781
epoch : 106  train_loss : 0.931401481949896
epoch : 107  train_loss : 0.931676802025397
epoch : 108  train_loss : 0.9304486480391325
epoch : 109  train_loss : 0.930503425803013
epoch : 110  train_loss : 0.9297124226245622
epoch : 111  train_loss : 0.9294926834021462
epoch : 112  train_loss : 0.9288618639542024
epoch : 113  train_loss : 0.9290505218320207
epoch : 114  train_loss : 0.9285016090161639
epoch : 115  train_loss : 0.9284251988082489
epoch : 116  train_loss : 0.9278407010453987
epoch : 117  train_loss : 0.927610235809179
epoch : 118  train_loss : 0.9270630839881756
epoch : 119  train_loss : 0.9271724329496642
epoch : 120  train_loss : 0.9271290612502561
epoch : 121  train_loss : 0.9264161752524165
epoch : 122  train_loss : 0.9254163108956587
epoch : 123  train_loss : 0.9252102923771324
epoch : 124  train_loss : 0.925184350135623
epoch : 125  train_loss : 0.924953406599248
epoch : 126  train_loss : 0.9242745383418153
epoch : 127  train_loss : 0.9239835554874555
epoch : 128  train_loss : 0.9238717515550937
epoch : 129  train_loss : 0.9235213404562677
epoch : 130  train_loss : 0.9232280513317308
epoch : 131  train_loss : 0.9228407552399273
epoch : 132  train_loss : 0.9225673378738182
epoch : 133  train_loss : 0.9224634287636313
epoch : 134  train_loss : 0.9221626238311255
epoch : 135  train_loss : 0.9219768285076428
epoch : 136  train_loss : 0.921862878114648
epoch : 137  train_loss : 0.9215775754089853
epoch : 138  train_loss : 0.9206250575494922
epoch : 139  train_loss : 0.9204416872506921
epoch : 140  train_loss : 0.9207929434117529
epoch : 141  train_loss : 0.9203017343514028
epoch : 142  train_loss : 0.9202985760311434
epoch : 143  train_loss : 0.919819648106325
epoch : 144  train_loss : 0.9197503172953304
epoch : 145  train_loss : 0.9196770932084672
epoch : 146  train_loss : 0.9192044635202998
epoch : 147  train_loss : 0.9187628424917942
epoch : 148  train_loss : 0.9185667772677509
epoch : 149  train_loss : 0.9186338973957572
epoch : 150  train_loss : 0.9187647518783313
epoch : 151  train_loss : 0.918679904304085
epoch : 152  train_loss : 0.9185457721209399
epoch : 153  train_loss : 0.9181056914113342
epoch : 154  train_loss : 0.9182087175785482
epoch : 155  train_loss : 0.9181185019866714
epoch : 156  train_loss : 0.9176071970479475
epoch : 157  train_loss : 0.9175543780259314
epoch : 158  train_loss : 0.9176399970652185
epoch : 159  train_loss : 0.9174457686920411
epoch : 160  train_loss : 0.917087249867401
epoch : 161  train_loss : 0.9169118839720387
epoch : 162  train_loss : 0.9165209717323893
epoch : 163  train_loss : 0.9165204783014608
epoch : 164  train_loss : 0.9166962051518056
epoch : 165  train_loss : 0.9164322740122198
epoch : 166  train_loss : 0.916538843849946
epoch : 167  train_loss : 0.91679905300215
epoch : 168  train_loss : 0.9171068573563033
epoch : 169  train_loss : 0.9159400701196758
epoch : 170  train_loss : 0.9157002335974246
epoch : 171  train_loss : 0.9157633978918515
epoch : 172  train_loss : 0.9155433763003393
epoch : 173  train_loss : 0.9152014034485534
epoch : 174  train_loss : 0.9149978523154563
epoch : 175  train_loss : 0.915429349159045
epoch : 176  train_loss : 0.9148999657584379
epoch : 177  train_loss : 0.9150980013070132
epoch : 178  train_loss : 0.9146196640804642
epoch : 179  train_loss : 0.9144069994177856
epoch : 180  train_loss : 0.9145321976505023
epoch : 181  train_loss : 0.9144518460870403
epoch : 182  train_loss : 0.9139236795257798
epoch : 183  train_loss : 0.9139998060038916
epoch : 184  train_loss : 0.9141175953872841
epoch : 185  train_loss : 0.9139084843535147
epoch : 186  train_loss : 0.9136586924514427
epoch : 187  train_loss : 0.9139449238138055
epoch : 188  train_loss : 0.9134527096858986
epoch : 189  train_loss : 0.9136380121022528
epoch : 190  train_loss : 0.9133355338212649
epoch : 191  train_loss : 0.9133628181020437
epoch : 192  train_loss : 0.913342270760916
epoch : 193  train_loss : 0.9130989522423757
epoch : 194  train_loss : 0.9128927721505471
epoch : 195  train_loss : 0.9126792098322647
epoch : 196  train_loss : 0.9125417496787073
epoch : 197  train_loss : 0.9125023669067346
epoch : 198  train_loss : 0.9126166833428466
epoch : 199  train_loss : 0.912374432187551
epoch : 200  train_loss : 0.9125429385468262

## Testing the SAE

In [53]:
test_loss = 0
s = 0.
for id_user in range(num_users):
        input = Variable(training_set[id_user]).unsqueeze(0)
        target = Variable(test_set[id_user]).unsqueeze(0) 
        if torch.sum(target.data > 0) > 0:
            output = sae(input)
            target.require_grad = False
            output[target == 0] = 0
            loss = criterion(output, target)
            mean_corrector = num_movies/float(torch.sum(target.data > 0) + 1e-10)
            test_loss += np.sqrt(loss.item()*mean_corrector)
            s += 1.
print(f'test_loss : {test_loss/s}')

test_loss : 0.9496223413206735

In [59]:
user_id = 1
movie_title = movies.iloc[:num_movies, 1:2]
user_rating = training_set.data.numpy()[user_id, :].reshape(-1,1)
user_target = test_set.data.numpy()[user_id, :].reshape(-1,1)
 
user_input = Variable(training_set[user_id]).unsqueeze(0)
predicted = sae(user_input)
predicted = predicted.data.numpy().reshape(-1,1)
 
# Join all info in one dataset
result_array = np.hstack([movie_title, user_target, predicted])
result_array = result_array[result_array[:, 1] > 0]
result_df = pd.DataFrame(data=result_array, columns=['Movie', 'Target Rating', 'Predicted'])

In [61]:
result_df

                                        Movie Target Rating Predicted
0                                Balto (1995)           4.0   3.34195
1       Ace Ventura: When Nature Calls (1995)           3.0  4.214255
2                  Usual Suspects, The (1995)           5.0  4.393968
3           Interview with the Vampire (1994)           5.0   4.45011
4                        Kiss of Death (1995)           4.0  3.868694
5                        Nobody's Fool (1994)           4.0  3.640558
6                                 Nell (1994)           3.0  3.206133
7                     New Jersey Drive (1995)           3.0  3.595693
8                             Outbreak (1995)           3.0  3.068423
9                    Perez Family, The (1995)           4.0  3.617159
10                              Priest (1994)           4.0   4.23365
11                           Quiz Show (1994)           3.0  3.982115
12                       Picture Bride (1995)           4.0  2.914358
13             Quick and the Dead, The (1995)           4.0  3.378945
14       Ready to Wear (Pret-A-Porter) (1994)           4.0  3.897593
15  Red Firecracker, Green Firecracker (1994)           3.0  3.693065
16                          Rent-a-Kid (1995)           3.0  3.374896
17           Secret of Roan Inish, The (1994)           3.0  3.240662
18                     Specialist, The (1994)           5.0  4.262868
19                            Stargate (1994)           1.0   1.21617
20                   Santa Clause, The (1994)           1.0  4.079701
21           Shawshank Redemption, The (1994)           5.0  4.395078